name: Tailscale RDP
on:
  schedule:
    - cron: '59 */5 * * *' # Restarts every 6 hours (just before the limit)
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Tailscale
        shell: powershell
        run: |
          iex ((New-Object System.Net.WebClient).DownloadString('https://tailscale.com/install.ps1'))

      - name: Connect to Tailscale
        shell: powershell
        run: |
          tailscale up --authkey ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Enable RDP
        shell: powershell
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          LocalGroup /add "Remote Desktop Users" "runneradmin"

      - name: Keep Alive (6 Hours)
        shell: powershell
        run: |
          $start = Get-Date
          while ((Get-Date) -lt $start.AddHours(6)) {
            Write-Host "RDP is active... Time: $(Get-Date)"
            Start-Sleep -Seconds 60
          }
