      - name: Install and Connect Tailscale
        shell: powershell
        run: |
          # Download
          Invoke-WebRequest -Uri "https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe" -OutFile "ts.exe"
          
          # Install
          Start-Process -FilePath "ts.exe" -ArgumentList "/quiet" -Wait
          
          # Connect with additional flags to bypass the 'tags' error
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey ${{ secrets.TAILSCALE_AUTHKEY }} --accept-routes --accept-dns=false --unattended
          
